body {
  font-size: 20px;
}
img.imgtest {
  cursor: pointer;
}
a {
  text-decoration: none;
}
a.btest {
  font-size: 2em;
  display: block;
  margin-bottom: 20px;
}
a.btest:link {
  color: pink;
}
a.btest:visited {
  color: darkorange;
}
a.btest:hover {
  color: yellow;
}
a.btest:active {
  color: green;
}
span.sptest {
  font-size: 3em;
}
header {
  height: 3em;
  line-height: 60px;
  text-align: center;
  border: 1px solid blue;
}
nav::first-letter {
  color: red;
}
table,
tr,
td,
th {
  padding: 10px;
  border: 1px solid red;
}
#title {
  font-size: large;
  color: cadetblue;
}
#footer {
  margin-top: 500px;
}
/* 
1em和当前字体大小相等。在浏览器中默认的文字大小是16px。
因此，1em的默认大小是16px。可以通过下面这个公式将像素转换为em：px/16=em  (1em = 16px)
在所有浏览器的解决方案中，设置 <body>元素的默认字体大小的是百分比：
  body {font-size:100%;}
  h1 {font-size:2.5em;}
  h2 {font-size:1.875em;}
  p {font-size:0.875em;}
*/
#box1 {
  display: none;
}
/* #box2 {
  width: 100%;
  height: 500px;
  position: relative;
  border: 1px solid black;
}
.sbox {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  background-color: pink;
} */
/* ------------------------------------------- */
/* #box2 {
  width: 100%;
  height: 500px;
  position: relative;
  border: 1px solid black;
}
.sbox {
  width: 100px;
  height: 100px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: pink;
} */
/* ------------------------------------------- */
/* #box2 {
  width: 100%;
  height: 500px;
  position: relative;
  border: 1px solid black;
}
.sbox {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: pink;
} */
/* --------------不确定子盒子宽高----------------------------- */
#box2 {
  width: 100%;
  height: 500px;
  position: relative;
  border: 1px solid black;
  display: none;
}
.sbox {
  padding: 10px;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  background-color: pink;
  overflow: auto;
}
#box3 {
  display: none;
}
#box3 ul > li {
  list-style-type: none;
  float: left;
  padding: 20px 30px;
  background: #999;
  margin: 0;
  border: 1px solid #666;
}
#box3 ul > li:hover {
  color: #fff;
  font-size: 1.2em;
  background: red;
}
